.group {
    .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .name {
            font-size: 1.5rem;
            padding-left: 1rem;
        }

        .right {
            display: flex;
            align-items: center;

            .volumeIcon {
                padding-left: 1rem;
                padding-right: 1rem;
                height: 100%;
                font-size: 2rem;
                color: black;

                @media only screen and (max-width: 500px) {
                    display: none;
                }
            }

            .streamSelector {
                min-width: 30vw;
            }
        }
    }

    .clients {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .groupMuted {
        opacity: .3;
    }
}