.stream {
    display: flex;
    align-items: center;
    gap: .5rem;

    .streamIcon {
        height: 2rem;
    }

    .inferedIcon {
        width: 2rem;
    }

    .soundcloud {
        color: #ED4706;
    }
}