.volume-slider {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    user-select: none;

    .disabled {
        color: #bdbdbd;
    }

    .icon {
        font-size: 2rem;
        color: black;
        user-select: none;
    }
}