.groups {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow-y: scroll;

    @media only screen and (max-width: 700px) {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    @media only screen and (min-width: 700px) {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .noGroups {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 3rem;
        align-items: center;
    }
}