@import './SideMargin.scss';

.groups {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    @include groupSidesMargin();


    .noGroups {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 3rem;
        align-items: center;
    }
}