.streamBar {
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin-bottom: max(1rem, env(safe-area-inset-bottom));
    .topRow {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media screen and (min-width: 700px) {
            flex-direction: row-reverse;
        }

        .selector {
            align-self: end;
            min-width: 40%;
        }

        .groupChips {
            padding: 0.5rem;
            gap: 0.5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
    
            .MuiChip-root {
                font-size: 1rem;
                margin: 2px;
            }
        }
    }

    .volume-slider {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: .5rem;
    }
}