.streamBar {
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin-bottom: max(1rem, env(safe-area-inset-bottom));

    .groupChips {
        padding-top: 1rem;
        padding-left: 1rem;
        gap: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .MuiChip-root {
            font-size: 1rem;
            padding: 0.5rem;
        }
    }
    
    .topRow {
        display: flex;
        justify-content: space-between;
        
        .selector {
            min-width: 40%;
        }
    }

    .volume-slider {
        padding: 0.5rem 1rem;
    }
}