.settings {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    gap: 1rem;

    @media only screen and (max-width: 700px) {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    @media only screen and (min-width: 700px) {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .groupSetting {
        background: rgba(255, 255, 255, 0.4745098039) !important;

        .groupName {
            padding-left: 1rem;
            padding-top: .5rem;
            padding-bottom: 0.5rem;
        }

        .clients {
            display: flex;
            gap: .5rem;
            flex-direction: column;
        }
    }
}