.settings {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: auto;
    height: 100%;

    @media only screen and (max-width: 700px) {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    @media only screen and (min-width: 700px) {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .client {
        opacity: 1;
        display: flex;

        @media only screen and (max-width: 500px) {
            flex-direction: column;
        }

        @media only screen and (min-width: 500px) {
            flex-direction: row;
        }

        padding: 1rem;
        gap: 1rem;
        flex-wrap: wrap;

        .left {
            display: flex;
            flex-direction: column;

            .row {
                display: flex;
                flex-direction: row;
                gap: 0.51rem;
                align-items: center;
            }

            .lastSeen {
                padding-top: .5rem;
                opacity: .6;
            }
        }

        .info {
            flex-direction: row;
            display: flex;
            gap: 1rem;

            .col {
                max-width: 10rem;

                .title {
                    font-weight: bold;
                    font-size: 1.1rem;
                }
            }
        }
    }

}