.clientSetting {
    opacity: 1;
    display: flex;
    background-color: #ffffffe0 !important;

    @media only screen and (max-width: 500px) {
        flex-direction: column;
    }

    @media only screen and (min-width: 500px) {
        flex-direction: row;
    }

    padding: 1rem;
    gap: .5rem;
    flex-wrap: wrap;

    .row {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
    }

    .section {
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
    }

    .primarySection {
        .icon {
            font-size: 2rem;
        }

        .latency {
            .stepper {
                font-size: 20px;
            }
        }
    }

    .secondarySection {
        display: flex;
        flex-direction: column;
        min-width: 14rem;

        .group {
            margin-top: .5rem;

            .MuiSelect-select {
                padding-left: 1rem;
                padding-top: 4px;
                padding-bottom: 4px;
            }
        }
    }

    .infoTable {
        text-align: left;

        table {
            border-collapse: collapse;
        }
        tr {
            border-bottom: 1px solid rgb(134, 134, 134);
        }
        th, td {
            padding-top: 5px;
        }
    
    }

    .lastSeen {
        opacity: .5;
    }

    .delete {
        color: red;
        font-size: 1.5rem;
        opacity: 0.9;
    }
}