.clientSetting {
    opacity: 1;
    display: flex;
    background-color: #ffffffe0 !important;

    @media only screen and (max-width: 500px) {
        flex-direction: column;
    }

    @media only screen and (min-width: 500px) {
        flex-direction: row;
    }

    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;

    .row {
        display: flex;
        flex-direction: row;
        gap: 0.51rem;
        align-items: center;
    }

    .mainInfo {
        .icon {
            font-size: 2rem;
        }

        .latency {
            padding-top: .5rem;
            padding-bottom: .5rem;

            .stepper {
                font-size: 20px;
            }
        }

        .lastSeen {
            opacity: .5;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        min-width: 14rem;

        .clientName {
            font-weight: bold;
            display: flex;
            gap: 1rem;
            padding-bottom: 2px;
            align-items: center;
        }

        .secondary {
            opacity: .6;

            .mac {
                font-size: 70%;
                opacity: .5;
            }
        }

        .group {
            margin-top: .5rem;

            .MuiSelect-select {
                padding-left: 1rem;
                padding-top: 4px;
                padding-bottom: 4px;
            }
        }
    }

    .delete {
        color: red;
        font-size: 1.5rem;
        opacity: 0.9;
    }
}