.clientSetting {
    display: flex;
    background-color: #ffffffe0 !important;
    position: relative;

    @media only screen and (max-width: 500px) {
        flex-direction: column;
    }

    @media only screen and (min-width: 500px) {
        flex-direction: row;
        padding-right: 1.5rem;
    }

    padding: 1rem;
    gap: .5rem;
    flex-wrap: wrap;

    .row {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
    }

    .section {
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
    }

    .primarySection {
        .icon {
            font-size: 2rem;
        }

        .latency {
            .stepper {
                font-size: 20px;
            }
        }
    }

    .secondarySection {
        .group {
            margin-top: .5rem;

            .MuiSelect-select {
                padding-left: 1rem;
                padding-top: 4px;
                padding-bottom: 4px;
            }
        }
    }

    .toggleInfo {
        position: absolute;
        cursor: pointer;
        right: .5rem;
        top: .5rem;
        font-size: 2rem;
    }

    .delete {
        color: red;
        font-size: 1.5rem;
        opacity: 0.9;
    }
}