.home {
    background: center;
    background-size: cover;
    background-position: top;
    height: 100%;
    display: flex;
    flex-direction: column;

    .appBar {
        .rightOptions {
            position: absolute;
            right: 2rem;
            display: flex;
            gap: 1rem;

            .togglePage {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
            }
            
            .themeSelector {
                margin-top: .5rem;
                [role="button"] {
                    padding-top: .5rem;
                }
            }
        }
    }
}