.home {
    background: center;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;

    .appBar {
        .menuPage {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            position: absolute;
            right: 2rem;
        }
    }
}