.group {
    background: #ffffff79 !important;

    .groupInfo {
        display: flex;
        align-items: center;

        .streamSelector {
            min-width: 50%;
        }
        
        .volumeIcon {
            padding: 1rem;
            font-size: 2rem;
            color: black;
        }
    }

    .clients {
        display: flex;
        flex-direction: column;
    }

    .groupMuted {
        opacity: .3;
    }
}